<div class="page-width">
  <div class="grid">
    <div class="grid__item one-whole">
      <div class="">
        <h2>Shopping Bag ({{ cart.items.size }})</h2>
        <h3>You qualify for free shipping!</h3>
      </div>
    </div>

  </div>
  <div class="grid">
      <div class="grid__item large-up--two-thirds medium-down--one-whole">
        <div class="cart__item-list--container">
          {% for item in cart.items %}
            {% include 'cart-item' %}
          {% endfor %}
        </div>
      </div>
      <div class="grid__item large-up--one-third medium-down--hide">
        <div class="cart__payment--details">
          <div class="cart__payment--options">
            <button class="btn width--full btn--checkout--default text-white" type="button" name="button">CHECKOUT</button>
            <div class="text-center">
              <p class="mtop-16 mbot-27">OR</p>
            </div>
            <button class="btn width--full btn--checkout--paypal" type="button" name="button">CHECKOUT WITH PAYPAL</button>
            <div class="cart__order-summary--container">
              <h3 class="text-medium-grey">Order Summary</h3>
              <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Subtotal</p>
                <p>$250</p>
              </div>
              <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Tax</p>
                <p>TBD</p>
              </div>
              <div class="flex justify-between align-center mbot-18 text-medium-grey">
                <p>Shipping</p>
                <p>FREE</p>
              </div>
              <hr class="cart__payment-details--divider">
              <div class="flex justify-between align-center">
                <p class="text--bold">Total</p>
                <p class="text--bold">$250</p>
              </div>
            </div>
          </div>
          <div class="cart__payment--promo">
            <p class="text--bold text-medium-grey mbot-8">Promo Code</p>
            <div class="payment__promo--input">
              <input type="text" name="" value="">
              <button class="payment__promo--btn " type="button" name="button">Apply</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
