<div class="mtop-50 mbot-60">
  <div class="page-width ">
    {% section 'index-featured-collections' %}

    <div class="grid">
        <div class="grid__item one-whole">
          <div class="index__bestseller-title--container">
            <h3 class="index__bestseller--title">Our Best Sellers</h3>
          </div>
        </div>
        <div class="grid__item one-whole">
          <div class="grid js-index__carousel--container index__carousel--container">
            {% for product in collections.best-sellers.products %}
              <div class="grid__item large-up--one-quarter medium-down--one-half">
                {% include 'product-card' %}
              </div>
            {% endfor %}
              <!-- <div class="grid__item one-quarter">
                <div class="index__bestseller-image--container">
                  <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
                </div>
              </div>
              <div class="grid__item one-quarter">
                <div class="index__bestseller-image--container">
                  <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
                </div>
              </div>
              <div class="grid__item one-quarter">
                <div class="index__bestseller-image--container">
                  <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
                </div>
              </div>
              <div class="grid__item one-quarter">
                <div class="index__bestseller-image--container">
                  <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
                </div>
              </div> -->

          </div>
        </div>
        <div class="grid__item one-whole">
          <div class="index__bestseller-title--container">
            <h3 class="index__bestseller--title">Our Stores</h3>
          </div>
        </div>
        <div class="grid__item one-whole">
          <div class="grid">
            <div class="grid__item large-up--one-half medium-down--one-whole">
              <div class="index__location--container">
                <h2>DIAMOND BAR</h2>
              </div>
            </div>
            <div class="grid__item large-up--one-half medium-down--one-whole">
              <div class="index__location--container">
                <h2>TORRANCE</h2>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% comment %}
prevArrow: "<img src='{{ 'icon--arrow-down.svg' | asset_url}}'",
nextArrow: '<span class="arrows-black slick-next arrows-product-grid-item"></span>',
{% endcomment %}
