<div class="mbot-60">
  <div class="width--full large-up--hide">
    <div class="relative">
      <div class="mobile-index__hero--container">
        <img class="width--full" src="https://cdn.shopify.com/s/files/1/2526/6552/files/shiseido-mobile.jpg?14472709686627158476" alt="">
      </div>
      <div class="el-overlay mobile-index__hero-text--container">
        <div class="mobile-index__hero-text--inner">
          <h2 class="mobile-index__hero-text">Welcome to Koko Beauté</h2>
          <a href="collections/all"><button class="mobile-index__hero--cta btn btn-small" type="button" name="button">Shop Now</button></a>
        </div>
      </div>
    </div>

  </div>
  {% include  'index-hero' %}
  <div class="page-width ">
    {% section 'index-featured-collections' %}
          <div class="index__bestseller-title--container">
            <h3 class="index__bestseller--title">Our Best Sellers</h3>
          </div>

          <div class="width--full">
            <div class="index__carousel--container--outer">
              <div class="js-index__carousel--container index__carousel--container">
                {% for product in collections.best-sellers.products %}
                  <div class="index__carousel--product--container">
                    {% include 'product-card' %}
                  </div>
                  {% endfor %}
              </div>
            </div>
          </div>


          <div class="index__bestseller-title--container">
            <h3 class="index__bestseller--title">Our Stores</h3>
          </div>

          <div class="grid">
            <div class="grid__item large-up--one-half medium-down--one-whole">
              <div class="index__location--container">
                <a href="https://www.yelp.com/biz/koko-shiseido-cosmetics-diamond-bar">
                  <div class="index__location--diamond-img--container">
                    <img src="{{ 'koko_diamond.jpg' | file_img_url: '1024x768' }}" alt="">
                  </div>
                </a>
                <div class="index__location--details--container">
                  <h2 class="text-koko-blue index__location">DIAMOND BAR | 909.598.3835</h2>
                  <div class="index__location--details--address">
                    <p>2773 S Diamond Bar Blvd</p>
                    <p>Diamond Bar, CA 91765</p>
                  </div>
                  <div class="index__location--details--times">
                    <p>Monday-Saturday 10 am – 7 pm</p>
                    <p>Sunday 11 am – 6 pm</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid__item large-up--one-half medium-down--one-whole">
              <div class="index__location--container">
                <a href="https://www.yelp.com/biz/koko-shiseido-cosmetics-torrance-2">
                  <div class="index__location--torrance-img--container">
                    <img src="{{ 'koko_torrance.jpg' | file_img_url: '1024x768' }}" alt="">
                  </div>
                </a>
                <div class="index__location--details--container">
                  <h2 class="text-koko-blue index__location">TORRANCE | 310.618.1004</h2>
                  <div class="index__location--details--address">
                    <p>2396 Crenshaw Blvd. Ste F</p>
                    <p>Torrance, CA 90501</p>
                  </div>
                  <div class="index__location--details--times">
                    <p>Monday-Saturday 10 am – 7 pm</p>
                    <p>Sunday 11 am – 6 pm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </div>
</div>
<div class="modal product-card__modal--container" id="product__modal">

{% for product in collections.best-sellers.products %}
{% assign productTitleArr = product.title | split: '_' %}
{% assign collectionTitle = productTitleArr.first %}
{% assign productTitleClean = productTitleArr.last %}
  {%- include 'product-card-modal' -%}
{%- endfor -%}
</div>
{% comment %}
prevArrow: "<img src='{{ 'icon--arrow-down.svg' | asset_url}}'",
nextArrow: '<span class="arrows-black slick-next arrows-product-grid-item"></span>',
{% endcomment %}
