<div class="grid">
  <div class="grid__item">
    <div class="collection__filter--container medium-down--hide">
      <div class="flex align-center pbot-5 justify-between ">
        <div class="collection__filter">
          <h3 class="text-medium-grey text--semibold">Filter By</h3>
          <h3 class="collection__filter--clear js-collection__filter--clear">CLEAR ALL</h3>
        </div>
        <div class="collection__sort">
          <h3 class="text-medium-grey text--semibold">Sort By</h3>
        </div>
      </div>
      <div class="collection__filters">
        <div class="">
          <select class="collection__filter--selection js-collection__filter--selection" name="skin-type">
            <option value="skin-type-0">Skin Type</option>
            <option value="skin-type-1">Skin Type</option>
            <option value="skin-type-2">Skin Type</option>
          </select>
          <select class="collection__filter--selection js-collection__filter--selection" name="skin-concern">
            <option value="skin-concern-1">Skin Concern</option>
            <option value="skin-concern-2">Skin Concern</option>
            <option value="skin-concern-3">Skin Concern</option>
          </select>
          <select class="collection__filter--selection js-collection__filter--selection" name="brand">
            <option value="brand-1">Brand</option>
            <option value="brand-2">Brand</option>
            <option value="brand-3">Brand</option>
          </select>
        </div>
        <div class="">
          <select class="collection__filter--selection margin-none" name="">
            <option value="brand">Brand</option>
            <option value="brand">Brand</option>
            <option value="brand">Brand</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-up--hide">
      <div class="grid">
        <div class="grid__item one-half">
          <select class="collection__filter--selection" name="">
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
          </select>
        </div>
        <div class="grid__item one-half">
          <select class="collection__filter--selection" name="">
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
            <option value="skin-type">Skin Type</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
