<div class="grid">
  <div class="grid__item">
    <div class="collection__filter--container">
      <p>FilterBy</p>
      <p class="underline">CLEAR ALL</p>
      <div class="collection__filters">
        <select class="" name="">
          <option value="skin-type">Skin Type</option>
          <option value="skin-type">Skin Type</option>
          <option value="skin-type">Skin Type</option>
        </select>
        <select class="" name="">
          <option value="skin-concern">Skin Concern</option>
          <option value="skin-concern">Skin Concern</option>
          <option value="skin-concern">Skin Concern</option>
        </select>
        <select class="" name="">
          <option value="brand">Brand</option>
          <option value="brand">Brand</option>
          <option value="brand">Brand</option>
        </select>
      </div>
    </div>
  </div>
</div>
