
  <div class="sublinks__makeup--container">
    <div class="grid">
      <div class="grid__item one-quarter">
        {%- for link in linklists[child_handle].links limit: 2 -%}
        {% assign link_handle = link.title | handle %}
          <h3 class="sublink__title">{{link.title}}</h3>
          <div class="">
            {%- for child_link in linklists[link_handle].links -%}
            <a href="#"><p class="text-light-grey sublink">{{child_link.title | downcase | capitalize }}</p></a>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>

      {%- for link in linklists[child_handle].links offset: 2 -%}
        {% assign link_handle = link.title | handle %}

        <div class="grid__item one-quarter">
          <h3 class="sublink__title">{{link.title}}</h3>
          <div class="">
            {%- for child_link in linklists[link_handle].links -%}
              <a href="#"><p class="text-light-grey sublink">{{child_link.title | downcase | capitalize }}</p></a>
            {%- endfor -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
