
  <div class="sublinks__men--container">
    <div class="grid">
      <div class="grid__item one-quarter">
        {%- for link in linklists[child_handle].links -%}
          <p class="sublink">{{link.title | remove: "MEN " | downcase | capitalize }}</p>
        {%- endfor -%}
      </div>
      {% section 'dropdown-shop-men-images' %}
    </div>
  </div>
