
  <div class="sublinks__skincare--container">
    <div class="column-3">
      {%- for link in linklists[child_handle].links -%}
        {% assign link_handle = link.title | handle %}
        <h3 class="sublink__title">{{link.title}}</h3>
        <div class="">
          {%- for child_link in linklists[link_handle].links -%}
            <a href="{{child_link.url}}"><p class="sublink">{{child_link.title | downcase | capitalize }}</p></a>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
    {% section 'dropdown-shop-skincare-img'%}
  </div>
