<div class="page-width height--full">
  <div class="grid height--full">
    <div class="grid__item one-whole height--full">
      <div class="skin-concern__main-links--container height--full">
        <div class="skin-concern__main-links--inner column-2">
          {%- for child_link in linklists['skin-concern'].links -%}
          {% assign child_handle = child_link.title | handle %}
            <a href="{{child_link.url}}"><p class="skin-concern__mainlink" data-handle="{{child_handle}}">{{ child_link.title | downcase | capitalize }}</p></a>
          {%- endfor -%}
        </div>
      </div>
    </div>
    <!-- <div class="grid__item three-fifths">
      <div class="flex align-center justify-around ptop-48"> -->
        {% comment %}
        {% endcomment %}
      <!-- </div>
    </div> -->
  </div>
</div>
