<div class="index__hero--container medium-down--hide">
  <div class="js-index__hero--container">
    <div class="">
      <div class="flex">
        <div class="width--full">
          <div class="">
            <img src="{{'POH_5121.jpg' | file_img_url: '1024x768'  }}" alt="">
          </div>
        </div>
        <div class="flex-center width--full" style="background-image: url({{ 'marble.jpg' | file_img_url: '1024x768'  }})">
          <div class="index__hero--message--container">
            <div class="index__hero--message--container--inner">
              <p class="index__hero--header text-koko-blue">Welcome to the new Koko Beaute Site!</p>
              <p class="index__hero--message">Now you can have the same personal experience in the comfort of your home. Shop our award-winning beauty products from Shiseido, Clé de Peau, and Synactif. Thank you from us to you for making this dream possible!</p>
              <p class="index__hero--message text-right">-Koko Beaute</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="flex">
        <div class="flex-center width--full" style="background-image: url({{ 'marble.jpg' | file_img_url: '1024x768'  }})">
          <div class="index__hero--message--container">
            <div class="index__hero--message--container--inner">
              <p class="index__hero--header text-koko-blue">In store or online</p>
              <p class="index__hero--message">I'm here to provide you the service you deserve.</p>
              <p class="index__hero--message text-right">-Tina and Koko Beaute</p>
            </div>
          </div>
        </div>
        <div class="width--full">
          <div class="">
            <img src="{{'tina.jpg' | file_img_url: '1024x768'  }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
