<div class="navigation__cart-dropdown">
  <div class="flex">
    <div class="navigation__cart-dropdown-check-icon">
      <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
    </div>
    <p>1 Item Added to cart</p>
  </div>
  <div class="navigation__cart-dropdown--item-details relative">
    <div class="navigation__cart-dropdown--added-item-image">
      <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
    </div>
    <div class="flex">
      <div class="mright-8">
        <div class="flex justify-between text--small text--bold mbot-8">
          <p>Shiseido</p>
        </div>
        <div class="text--semi-small mbot-8">
          <p class="mbot-8">ULTIMUNE Power Infusing</p>
          <p>Concentrate</p>
        </div>
        <p class="text--smaller text--reduced text-lighter-grey">QTY: 1</p>
      </div>
      <div class="">
        <p class="text--bold text--small">$124</p>
      </div>
      <div class="navigation__cart-dropdown--remove-item">
        <img src="{{ 'icon--close.svg' | asset_url }}" alt="">
      </div>
    </div>
  </div>
  <div class="">
    <div class="flex justify-between mbot-24">
      <p>Subtotal</p>
      <p>$124</p>
    </div>
    <a href="#">
      <button class="btn navgation__cart-dropdown--cart-btn" type="button" name="button">CHECKOUT</button>
    </a>
  </div>
  <div class="mtop-16 text-center">
    <p class="text-bold text-black">Free shipping on orders over $120!</p>
  </div>
</div>
