<div class="navigation__dropdown--container js-navigation__dropdown--container height--full medium-down--hide">
  <div class="navigation__dropdown height--full js-navigation__dropdown" data-handle="shop">
    <div class="dropdown__shop--container height--full">
      {%- include 'dropdown-shop' -%}
    </div>
  </div>
  <div class="navigation__dropdown js-navigation__dropdown" data-handle="brands">
    <div class="dropdown__collections--container" >
      {%- include 'dropdown-collections' -%}
    </div>
  </div>
  <div class="navigation__dropdown js-navigation__dropdown"  data-handle="skin-concern">
    <div class="dropdown__skinconcern--container">
      {%- include 'dropdown-skinconcern' -%}
    </div>
  </div>
</div>
