<div class="grid__item medium-down--one-half large-up--one-third">
  <div class="relative">
    <div class="absolute bg-red-orange collection__product--alert flex align-center justify-center">
      <!-- REPLACE WITH LIQUID LATER -->
      <p>Best Seller</p>
    </div>
    <div class="collection__product-image--container">
      <img class="width--full" src="https://news.nationalgeographic.com/content/dam/news/photos/000/755/75552.ngsversion.1422285553360.adapt.1900.1.jpg" alt="">
    </div>
    <div class="collection__product-detail--container">
      <div class="flex justify-between">
        <p>{{ product.vendor }}</p>
        <p>{{ product.price }}</p>
      </div>
      <p class="collection__product--title">{{product.title}}</p>
    </div>
  </div>
</div>
