.index__featured-collection--container--outter{
  max-width: 1060px;
  margin: 0 auto;
}
.index__hero--container{
  // height: 475px;
  margin-bottom: 64px;
}
.index__hero--header{
    letter-spacing: 2.7px;
    font-size: 1.714rem;
    font-weight: bolder;
    margin-bottom: 16px;
}
.index__hero--message--container{
  padding: 60px;
}
.index__hero--message--container--inner{
  max-width: 590px;
}
.index__hero--message{
  line-height: 2.13;
  letter-spacing: 1.8px;
  @extend .text--medium;
}
.index__bestseller-image--container{
    // padding: 0 15px;
}
.index__featured-collection--container{
  @extend .relative;
  transition: .2s ease all;
  opacity: 1;
  &:hover{
    opacity: .7;
    .featured-collection__cover-text--container{
      border: 4px solid white;
    }
    .featured-collection__cover-arrow--inner{
      opacity: 1;

    }
    .featured-collection__cover-text{
      text-decoration: underline;

    }
  }
}
.featured-collection__img--container{
  // min-height: 460px;
  height: 360px;
}
.featured-collection__cover-text--container{
  bottom: 12px;
  left: 12px;
  border: 0px solid white;
  right: 12px;
  top: 12px;
  position: absolute;
  transition: .2s ease all;
  // @extend .flex-center-bottom;

}
.featured-collection__cover-text{
  text-decoration: none;
  color: white;
  position: absolute;
  margin: 0 auto;
  bottom: 55px;
  width: 100%;
  text-align: center;
  transition: .2s ease all;
  // margin-bottom: 55px;
}
.featured-collection__cover-arrow--outer{
  position: absolute;
  width: 100%;
  bottom: 20px;
  @extend .flex-center-center;
}
.featured-collection__cover-arrow--inner{
  width: 35px;
  opacity: 0;
  transition: .2s ease all;
}
.index__bestseller-title--container{
  @extend .mtop-80;
  @extend .text-center;
  margin-bottom: 44px;
}
.index__bestseller--title{
  @extend .text--semi-large;
  @extend .text-koko-blue;
}
.index__location--container{

}
.index__location--details--container{
  text-align: center;
  line-height: 20px;
}
.index__location--details--address{
  line-height: 14px;
  font-size: 12px;
  margin-bottom: 8px;
}
.index__location--details--times{
  line-height: 20px;
  font-size: 12px;
  font-weight: bolder;
}
.index__carousel--product--container{
  padding: 0 8px;
  width: 150px;
  outline: none;
}
.index__carousel--container--outer{
  padding-left: 50px;
  padding-right: 50px;
}
.index__carousel-arrow--container{
  position: absolute;
  top: 40%;
  width: 25px;
  cursor: pointer;
}

.index__carousel-arrow--container--left{
  left: -25px;
}
.index__carousel-arrow--container--right{
  right: -25px;
}
.index__carousel--container{
  // padding: 0 60px;
}

.mobile-index__hero-text--container{
  @extend .flex-center-center;
}
.mobile-index__hero-text--inner{
  text-align: center;
  padding: 0 52px;
}
.mobile-index__hero-text{
  letter-spacing: 4px;
  font-size: 36px;
  color: white;
}
.mobile-index__hero--cta{
  background-color: $koko-text-blue;
  @extend .flex-center-center;
  color: white;
  font-size: 14px;
}
@include media-query($medium-down){
  // .index__carousel--container{
  //   padding: u nset;.
  .index__carousel-arrow--container--left{
    left: -10px;
  }
  .index__carousel-arrow--container--right{
    right: -10px;
  }
  .index__bestseller-title--container, .index__bestseller-title--container{
    margin-top: 24px;
  }
  .index__location{
    font-size: 14px;
  }

  .index__carousel--container--outer{
    padding-left: 0;
    padding-right: 0;
  }
  .index__location--container{
    margin-bottom: 15px;
  }
};
.slick-list{
  padding:0 20% 0 0;
}
