
.theme__header--container{
  z-index: 100;
  @extend .bg-white;

}
.navigation__slider{
  width: 300px;
  text-align: center;
  p{
    outline: none;
  }
}
.index__header-arrow--container{
  cursor: pointer;
  width: 13px;
  position: absolute;
  top: 0;
}
.theme__navigation{
  height: 4.714rem;
  // padding: 0 40px;
  @extend .flex;
  @extend .justify-between;
  // @extend .z-depth-2;
  @extend .align-center;
  @extend .bg-white;
}
.theme__promotion-bar{
  height: 40px;
  letter-spacing: 1.5px;
  background-color: $koko-bg-blue;
  color: $koko-text-blue;
  @extend .flex-center-center;
}

.navigation__link{
  height: 76px;
  margin-left: 28px;
  margin-right: 28px;
  &:hover{
    border-bottom: 1.5px solid black;
  }
}

.navigation__link--text{
  @extend .nowrap;
  @extend .text-light-grey;
  @extend .text--semi-small;
  &:hover{
    @extend .text-dark-grey;
  }
}
.m-theme__navigation{
  .navigation__user-controller--container, .navigation__search--container{
    width: 60px;
  }
}
.navigation__logo--container{
  // margin-left: 26px;
  margin-right: 26px;
  max-width: 100px;
}
.navigation__user-controls--container{
  @extend .flex;
  @extend .align-center;
  @extend .justify-around;
  width: 220px;
}
.navigation__icons--container{
  width: 100px;
  @extend .flex;
  @extend .justify-between;
  @extend .align-center;
}
.navigation__icon--outer-container{
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
  width: 50px;

}
.navigation__icon--container{
  width: 20px;
}
.navigation__icon--outer-container--cart{
  position: relative
}
.navigation__search-icon--container{
  width: 16px;
  &:hover + .navigation__searchbar--container{
    display: block;
  }
}
.navigation__search-bag--container{
  width: 16px;

}
.navigation__dropdown--container{
  font-size: 13px;
}
.navigation__dropdown{
  @extend .hidden;
}

.navigation__search--form{
  width: 100%;
  input{
    outline: none;
    letter-spacing: 1.8px;
    border: none;
    @extend .text--medium;
  }
}
.navigation__searchbar--container--outer{
  position: absolute;
  top: 45px;
}
.navigation__searchbar--container{
  height: 75px;
  @extend .flex-center;
  background-color: white;
  box-shadow: 0 -3px 6px 0 rgba(183, 183, 183, 0.23);
  border: solid 1px #d9d9d9;
  width: 400px;
  padding: 22px 32px;
}
.navigation__cart-dropdown{
  @extend .absolute;
  @extend .bg-white;
  @extend .text-light-grey;
  display: none;
  overflow-y: scroll;
  max-height: 700px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  padding: 24px;
  right: 0;
  top: 74px;
  width: 430px;
}
.navigation__bag-icon--container{
  display: flex;
  height: 76px;
  // &:hover + .navigation__cart-dropdown {
  //   display: block;
  // }
}
.navigation__cart-dropdown.active{
  display: block;
}
.navigation__cart-dropdown-check-icon{
  @extend .mright-16;
  width: 15px;
}
.navigation__cart-dropdown--added-item-image{
  max-width: 87px;
  @extend .mright-16;
}
.navigation__cart-dropdown--item-details{
  @extend .flex;
  padding: 16px 0;
  // margin-top: 16px;
  border-top: solid 1px #dedfe1;
  // border-bottom: solid 1px #dedfe1;
}
.navigation__cart-dropdown--item--detail--container{
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.navgation__cart-dropdown--cart-btn{
  @extend .width--full;
  @extend .text-white;
  background: linear-gradient(to right, #dec1de, #b98dba);
  height: 48px;
}
.navigation__cart-dropdown--remove-item{
  @extend .absolute;
  width: 9px;
  top: 12px;
  right: 0;
}
