.navigation__dropdown--container{
  height: 400px;
  @extend .hidden;
  @extend .z-depth-2;
  h1,h2,h3,h4,h5{
    margin: 0;
  }
  .sub-links{
    @extend .hidden;
  }

  .sublinks__skincare--container{
    @extend .flex;
  }
  .sublinks__suncare--container{
    @extend .flex;
    @extend .justify-around;
  }
  .sublinks__men--container{
    @extend .flex;
    @extend .justify-around;
  }
  .sublink__title{
    @extend .text-dark-grey;
    @extend .flex;
    @extend .align-center;
    margin-bottom: 16px;
    height: 34px;
  }
  .sublink{
    margin-bottom: 16px;
    @extend .text-light-grey;
  }
  // skin-concern specific
  .skin-concern__mainlink{
    margin-bottom: 32px;
    @extend .text-light-grey;
  }
  .skin-concern__main-links--inner{
    height: 300px;
    @extend .is-block;
  }
  .skin-concern__main-links--container{
    padding-top: 48px;
  }

  // collections specific
  .collections__mainlink{
    margin-bottom: 32px;
    @extend .text-dark-grey;
  }
  .collection__main-links--inner{
    height: 300px;
    @extend .is-block;
  }
  .collections__main-links--container{
    padding-top: 48px;
  }
  // shop specific
  .shop__mainlink{
    @extend .mbot-50;
    @extend .text-light-grey;
    @extend .flex;
    @extend .align-center;
    height: 34px;
  }
  .shop__mainlink.open-flex{
    @extend .flex;
    @extend .text-black;
    border-right: 1px solid black;
  }
  .shop__main-links--container, .shop__sub-links--container{
    padding-top: 40px;
  }
  .main-links--container{
    border-right: solid 0.5px #cccccc;
  }
}

.placeholder-img{
    max-width: 200px;

}
.dropdown__image{
    max-height: 300px;
}
