.theme__header--container{
  z-index: 100;
  @extend .bg-white;
}
.theme__navigation{
  height: 76px;
  padding: 0 40px;
  @extend .flex;
  @extend .justify-between;
  @extend .z-depth-2;
  @extend .align-center;
  @extend .bg-white;
}
.theme__promotion-bar{
  height: 40px;
  letter-spacing: 1.5px;
}

.navigation__link{
  height: 76px;
  margin-left: 28px;
  margin-right: 28px;
  &:hover{
    border-bottom: 1.5px solid black;
  }
}
.navigation__link--text{
  @extend .nowrap;
  @extend .text-light-grey;
  &:hover{
    @extend .text-dark-grey;
  }
}
.m-theme__navigation{
  .navigation__user-controller--container, .navigation__search--container{
    width: 60px;
  }
}
.navigation__logo--container{
  margin-left: 26px;
  margin-right: 26px;

}
.navigation__user-controls--container{
  @extend .flex;
  @extend .align-center;
  @extend .justify-around;
  width: 180px;
}
.navigation__icons--container{
  width: 55px;
  @extend .flex;
  @extend .justify-between;
  @extend .align-center;
}
.navigation__icon--container{
  width: 20px;
}
.navigation__search-icon--container{
  width: 16px;
}
.navigation__search-bag--container{
  width: 16px;
}
.navigation__dropdown{
  @extend .hidden;
}
