.collection__product--title{
  height: 60px;
}
.collection__product-image--container{
  @extend .relative;
  max-height: 400px;
}
.collection__product-image--container--inner{
  @extend .flex-center-center;
}
.collection__product-detail--container{
  padding-top: 16px;
  line-height: 18px;
  @extend .text-light-grey;
  @extend .text--default;
}
.collection__product--price{
  @extend .flex;
  @extend .justify-between;
  @extend .pbot-5;
  @extend .text--small;
}
.product__card--controls{
  @extend .width--full;
  // @extend .hidden;
  @extend .absolute;
  bottom: 32px;
  display: none;
  // height: 64px;
  // transition: .2s ease all;
  // opacity: 0;
}
.product__card--controls--quick-view{
  width: 90%;
  background: white;
  text-align: center;
  height: 48px;
  color: $koko-text-blue;
  margin: 0 auto;
  @extend .flex-center-center;
  font-size: 16px;
  font-weight: bolder;
}
.collection__product--alert--container{
  @extend .absolute;
  top: 20px;
  left: 16px;
  background-color: $koko-text-blue;
  z-index: 2;
}
.collection__product--alert{
  width: 113px;
  height: 34px;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
  @extend .text-white;
}
.collection__card--hover{
  margin-bottom: 32px;
}
.collection__card--hover:hover .product__card--controls{
  @extend .flex;
  @extend .justify-around;
  @extend .align-center;
  opacity: 1;
}
.product__card--controls--quick-view, .product__card--controls-add-to-cart{
  cursor: pointer;
}
@include media-query($medium-down){
  .collection__product--alert--container{
    top: 10px;
    left: 8px;
    z-index: 2;
  }
  .collection__product--alert{
    width: 62px;
    font-size: 6px;
    height: 23px;
    font-weight: bolder;
  }
  .collection__product--price{
    font-size: 12px;
  }
  .collection__product--title{
    font-size: 10px;
  }
  .collection__product-image--container--inner{
    padding: 10px;
  }
}

// MODAL
.product-card__modal--container{
    background-color: white;
    padding: 40px;
    min-height: 500px;
}
.product-card__modal--details--vendor{
  color: $koko-text-blue;
  @extend .text--semi-large;
  margin-bottom: 8px;
}
.product-card__modal--details--title{
  color: $koko-text-blue;
  font-size: 1.714rem;
  margin-bottom: 32px;
}
.product-card__modal--details--price{
  @extend .text--semi-large;
  margin-bottom: 24px;
}
.product-card__modal--details--container{
  li{
    list-style: circle;
  }
}
.product-card__modal--details--link{
  margin-bottom: 32px;
  font-weight: bolder;
  text-decoration: underline;
  color: #757474;
}
.product-card__modal--variant{
  @extend .pdp__variant--container;
}
.product-card__modal--hr{
  @extend .pdp__details--hr;
}
.product-card__modal--quantity-incrementor--container{
  @extend .pdp__quantity-incrementor--container;
}
.product-card__modal--quantity-incrementor{
  @extend .pdp__quantity-incrementor;
}
.product-card__modal--add-to-cart{
  @extend .pdp__add-to-cart;
  @extend .flex-center-center;
  .text-completed{
    display: none;
  }
}
.product-card__modal--add-to-cart.completed{
  background-color: white;
  border: 1px solid $koko-text-blue;
  color: $koko-text-blue;
  .text-incomplete{
    display: none;
  }
  .text-completed{
    display: block;
  }
}
.product-card__modal--exit{
  width: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
}
