.product__added-to-cart--alert--container{
  position: fixed;
  top: 0;
  z-index: -100;
  background-color: white;
  width: 100%;
  opacity: 0;
  transition: .3s ease all;
}
.product__added-to-cart--alert--container.active{
  opacity: 1;
  z-index: 100;
}
.product__added-to-cart--alert{
  padding: 24px 0;
}
.product__added-to-cart--alert--close{
  width: 12px;
  position: absolute;
  right: 15px;
  top: 24px;
}
.pdp__detail--container{
  @extend .mtop-40;
}
.pdp__grid{
  margin-left: -105px;
}
.pdp__grid-item{
  padding-left: 105px;
}

.pdp__breadcrumbs--container{
  max-width: 455px;
  margin-bottom: 16px;
  @extend .text-light-grey;
  @extend .width--full;


}
.pdp__image--container{
  // @extend .float-right;
  width: 100%;
}
.pdp__image{
  @extend .flex-center-center;
  background-color: #FCF8FC;
  padding: 65px;
  // height: 565px;
  // width: 455px;
}
.pdp__info--container{
  width: 100%;
  max-width: 533px;
  @extend .float-left;
  @extend .text-light-grey;
}
.pdp__info--description{
  @extend .mtop-40;
  @extend .mbot-40;
  line-height: 24px;
}
.pdp__info--vendor{
  font-size: 1.286em;
  @extend .mtop-0;
}
.pdp__col--title{
  margin-bottom: 0;
  font-size: 20px;
}
.pdp__info--title{
  font-weight: bolder;
  font-size: 1.714em;
  margin-top: 5px;
  @extend .mbot-60;
}
.pdp__info--price{
  font-size: 1.286em;
  font-weight: bolder;
}
.pdp__quantity-incrementor--container{
  width: 104px;
  border: 1px solid #979797;
  height: 48px;
  @extend .mright-12;
  @extend .flex;
  @extend .align-center;
  @extend .justify-around;
  @extend .text-black;
}
.pdp__quantity-incrementor{
  width: 10px;
  height: 100%;
  @extend .flex;
  @extend .justify-center;
  @extend .align-center;
}
.pdp__add-to-cart{
  height: 48px;
  width: 180px;
  @extend .text-white;
  background-color: $koko-text-blue;
  cursor: pointer;
}
.pdp__variant--container{
  min-width: 104px;
  height: 36px;
  border: solid 1px #979797;
  @extend .flex;
  @extend .align-center;
  @extend .justify-center;
  margin-bottom: 16px;
}
.pdp__variant--palette--container.not{
  position: relative;
  .pallette-title--container{
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pallette-title{
    font-size: 10px;
  }
  &:hover{

    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  }
}
.pdp__variant--palette--container.not.active{


  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);

}

.pdp__variant--container.not{

  &:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  }
}
.pdp__variant--container.not.active{
  color: $koko-text-blue;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.pdp__details--hr{
  margin-top: 46px;
  margin-bottom: 31px;
}
.pdp__add-to-cart--container--mobile{
  display: none;
}
@include media-query($medium-down) {
  .pdp__variant--palette--container.not{
    position: relative;
    .pallette-title--container{

    }
    .pallette-title{
      font-size: 7px;
    }
  }
  .pdp__add-to-cart--details--mobile{
    .pdp__details-opened--mobile--icon{
      display: none;
    }
    .pdp__details-closed--mobile--icon{
      display: block;
    }
  }
  .pdp__add-to-cart--details--mobile.active{
    .pdp__details-opened--mobile--icon{
      display: block;
    }
    .pdp__details-closed--mobile--icon{
      display: none;
    }
  }
  .pdp__grid{
    margin-left: -15px;
  }
  .pdp__grid-item{
    padding-left: 15px;
  }
  .pdp__info--vendor{
    font-size: 1em;
  }
  .pdp__info--title{
    font-size: 1.2em;
  }
  .pdp__image--container{
    float: unset;
  }
  .pdp__image{
    max-width: 270px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
  }
  .pdp__info--price{
    font-weight: bolder;
    text-align: center;
  }
  .pdp__variants--container{
    // display: flex;
    // justify-content: space-around;
    // align-items: center;

  }
  .pdp__variant--container{
    @extend .flex-center-center;
  }
  .pdp__add-to-cart--container--mobile{
    padding: 16px 20px;
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    bottom: 0;
    display: block;
    background-color: white;
  }
  .pdp__add-to-cart{
    width: 100%;
  }
  .pdp__add-to-cart--details--container--mobile{
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 24px;
    margin-bottom: 60px;
  }
  .pdp__add-to-cart--details--mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pdp__add-to-cart--details--text--mobile{
    height: 0px;
    font-size: 12px;
  }
  .pdp__add-to-cart--details--text--mobile.active{
    height: auto;
  }
}
