.user__form--container{
  height: 80vh;
  @extend .flex-center-center;
}
.user__form--wrapper{
  max-width: 600px;
  input{
     height: 48px;
     border: solid 1px #d9d9d9;
  }
}
.user__form--submit{
  background-color: $koko-text-blue;
  color: white;
  font-weight: bold;
}
.user__form--input--container{
  margin-bottom: 24px;
}
.user-form--login--link{
  @extend .text-default;
  text-decoration: underline;
}
.user__form--modal--container{
  padding:40px;
  @extend .flex-center-center;
}

.user-modal{
  width: 35%;
  height: 460px;
}
.user-modal.user-register{
  height: 600px;
}
.search__form--container--outter{
  @extend .flex-center-between;
  padding: 24px 27px;
  border-bottom: solid 1px #d9d9d9;
}
.search__form--container--mobile{
  letter-spacing: 1.8px;
  @extend .text--medium;
  outline: none;
  border: none;
  width: 100%;
  input{
    width: 100%;
    border: none;
    outline: none;
  }
}
.search--container{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -100;
  background-color: white;
  transition: .3s ease all;
  opacity: 0;
}
.search--container.active{
  z-index: 100;
  opacity: 1;
}
