.user__form--container{
  height: 80vh;
  @extend .flex-center-center;
}
.user__form--wrapper{
  max-width: 600px;
  input{
     height: 48px;
     border: solid 1px #d9d9d9;
  }
}
.user__form--submit{
  background-color: $koko-text-blue;
  color: white;
  font-weight: bold;
}
.user__form--input--container{
  margin-bottom: 24px;
}
.user-form--login--link{
  @extend .text-default;
  text-decoration: underline;
}
.user__form--modal--container{
  padding:40px;
  @extend .flex-center-center;
}

.user-modal{
  width: 35%;
  height: 460px;
}
.user-modal.user-register{
  height: 600px;
}
